*, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.wrap{
		width: 99.99%;
		max-width: 1300px;
		margin: 0 auto;
	}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #2a2d2e;
}
section{
	padding: 90px 0;
}
/**********************header************/
header{
	background-image:url(../images/header-bg.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:100vh;
	color: #fff;
	text-align: center;
}
.header-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 99vh;
	padding: 0 20px;
}
.navbar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 50px 50px 0 50px;
}
.logo{
	background-image: url(../images/Cesis-Creative-Logo50.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 31px;
}
.fa-bars{
	font-size: 24px;
	cursor: pointer;
}

.slogan h1{
	font-size: 7em;
	line-height: 1em;
}
.slogan p{
	font-size: 1.3em;
}
.btn{
	display: inline-block;
	margin-top: 20px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 50px;
	min-width: 150px;
	text-align: center;
}
.btn-white{
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.btn-black{
	background-color: transparent;
	border: 1px solid #2a2d2e;
	color: #2a2d2e;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.btn-white:hover, .btn-white:active, .btn-white:focus, .btn-black:hover, .btn-black:active, .btn-black:focus{
	background-color: #7443ff;
	border: 1px solid #7443ff;
	color: #fff;
}
.go-down{
	display: inline-block;
	color: #fff;
	font-size: 25px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.go-down:hover, .go-down:active; .go-down:focus{
	color: #7443ff;
}

/******************menu*************/
.m-menu{
	background-color:rgba(42,45,51,0.9);
	width: 100%;
	height: 100vh;
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	position: fixed;
	color:#fff;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	z-index:100;}
.m-menu a{
	color:#fff;
	font-size:3.5em;
	font-weight: 600;
	margin:40px 0;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;}
.m-menu a:hover{
	color: #7443ff;}

.cos-ceti-menu a{
	display: inline-block;
	margin: 0 10px;
}	
	
/*метод появляения меню*/
.m-menu-active{
	-webkit-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	        transform: translateY(0%);}
.bars{
	cursor: pointer;}
.close{
	font-size: 30px;
	cursor: pointer;
	position:absolute;
	top:50px;
	right:50px;
}

/**************section about********/
#about{
	padding-bottom: 0;
}
.box, .box2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.box2{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.intro-item1, .intro-item3{
	width: 40%;
	padding: 0 70px;
}
.intro-item2, .intro-item4{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.picture{
	height: 100%;
}
.picture img{
	width: 100%;
	display: block;
}
.intro-item_title{
	font-size: 2.86em;
	line-height: 1.3em;
	font-weight: 600;
	margin-bottom: 20px;
}
.intro-item_subtitle{
	font-size: 1.3em;
	font-weight: 300;
}
.intro-item-text{
	margin-top: 30px;
}
.box .picture{
	position: relative;
}
.box .picture:before{
	content: url(../images/Elements_1_1_150.png);
	position: absolute;
	top: 100px;
	right: 0;
}
.box .picture:after{
	content: url(../images/Elements_1_2_100.png);
	position: absolute;
	bottom: 86px;
	right: 0;
}

.box .vertical-text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transform-origin: 250px -250px 0;
	    -ms-transform-origin: 250px -250px 0;
	        transform-origin: 250px -250px 0;
	width: 380px;
}

.vertical-text h3{
	display: inline-block;
	color: #fff;
	font-size: 3.6em;
}
.logo-vert{
	background-image: url(../images/Logo_150.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 92px;
}

.box2 .picture{
	position: relative;
}
.box2 .picture:before{
	content: url(../images/Elements_2_1_150.png);
	position: absolute;
	top:100px;
	right: 0;
}
.box2 .picture:after{
	content: url(../images/Elements_2_2_100.png);
	position: absolute;
	bottom: 70px;
	right: 0;
}
.box2 .vertical-text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	-webkit-transform-origin: 250px -300px;
	    -ms-transform-origin: 250px -300px;
	        transform-origin: 250px -300px;
	width: 400px;
}

.fa-play{
	color: #2a2d2e;
	padding: 15px;
	border:1px solid transparent;
	border-radius: 50%;
	background-color: #fff;
	margin-right: 30px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
/*************section portfolio********/
#portfolio{
	text-align: center;
	padding-top: 0;
}
.wrap-port{
	width: 90%;
	margin: 0 auto;
}
.categories {
	margin-bottom: 50px;
}
.categories li{
	display: inline-block;
	font-size: 1em;
	color: #818586;
	font-weight: 500;
	margin: 0 10px;
	cursor: pointer;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.categories li:hover, .categories li:active, .categories li:focus{
	color: #2a2d2e;
}
.categories .active{
	color: #2a2d2e;
}
.grid{
	display:-ms-grid;
	display:grid;
	grid-gap: 20px;
	margin-bottom: 20px;
	color: #fff;
}
.grid1, .grid3{
	-ms-grid-columns: auto auto;
	    grid-template-columns: auto auto;
}
.port-item1{
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 2;
	grid-row-end: 3;
}
.port-item2{
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
}
.port-item3{
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 1;
	grid-row-end: 3;
}
 .grid2{
	-ms-grid-columns: auto auto auto auto;
	    grid-template-columns: auto auto auto auto;
}
.port-item4{
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 2;
	grid-row-end: 3;
}
.port-item5{
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 2;
	grid-row-end: 3;
	-ms-grid-column: 2;
	    grid-column-start: 2;
	-ms-grid-column-span: 2;
	grid-column-end: 4
}
.port-item6{
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
}
.port-item6{
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 1;
	grid-row-end: 3;
}
.grid img{
	width: 100%;
	height: 100%;
}
.items{
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.grid-text{
	text-align: left;
	position: absolute;
	bottom: 30px;
	left: 30px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.grid-cat{
	font-weight: 500;
	font-size: 10px;
}
.grid-title{
	font-weight: 600;
	font-size: 12px;
}
.grid img:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
.items:hover .grid-text{
	color: #7443ff;
}
/******************section services***********/
#services{
	background-image: url(../images/pricing-table-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.wrap-serv{
	width: 70%;
	margin: 0 auto;
}
#services .title{
	font-size: 2.86em;
	line-height: 1.5em;
	font-weight: 600;
}
#services .subtitle{
	font-size: 10px;
	font-weight: 300;
}
.pricing-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	padding-top: 50px;
}
.pricing-content h4{
	font-weight: 600px;
	font-size: 1.5em;
	margin: 5px 0 20px 0;
}
.pricing-list li{
	font-size: 1em;
	margin: 10px 0;
}
.pricing-list .line{
	text-decoration:line-through;
}
.content-item{
	min-width: 250px;
}
.content-item img{
	border-radius: 50%;
	border: 1px solid transparent;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}
.content-item:hover img{
	border: 1px solid #fff;
}
/***************section contact***********/
#contact{
	padding-bottom: 0;
}
.wrap-cont{
	width: 70%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.cont-text, .cont-form{
	width: 50%;
}
.cont-text{
	padding-right: 50px;
}
.before-title{
	display: inline-block;
	color: #7443ff;
	font-size: 1.6em;
	font-weight: 600;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
.title{
	font-size: 2.86em;
	line-height: 1.3em;
	font-weight: 600;
	margin-bottom: 20px;
}
.subtitle{
	font-size: 1.3em;
	font-weight: 300;
}
.text{
	margin-top: 30px;
}
.input-item input{
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	border: none;
	border-bottom: 1px solid #a1a1a1;
}
.input-item input::-webkit-input-placeholder{
	color: #a1a1a1;
}
.input-item input:-ms-input-placeholder{
	color: #a1a1a1;
}
.input-item input::-ms-input-placeholder{
	color: #a1a1a1;
}
.input-item input::placeholder{
	color: #a1a1a1;
}
.cont-form input:active, .cont-form input:focus{
	border-bottom: 1px solid #7443ff;
}
.input-item{
	position: relative;
}
.form-icon{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 0;
	color: #a1a1a1;
}
.input-item:focus .form-icon{
	color: #7443ff !important;
}
.input-item-checkbox .item{
	color: #a1a1a1;
	margin: 23px 0;
}
.input-item-checkbox .item input{
	margin-right: 10px;
}
.cont-cont{
	margin: 50px 0 30px 0;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	padding: 50px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: left;
}
.cont-items{
	min-width: 200px;
	margin: 0 20px 20px 0;
}
.cont-items:last-child{
	margin-right: 0;
}
.cont-cont h5{
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 20px;
}
.cont-cont p{
	font-size: 1em;
	font-weight: 300;
}
.soc-seti{
	background: rgb(147,238,249);
	background: -webkit-linear-gradient(left, rgba(147,238,249,1) 1%,rgba(116,67,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(147,238,249,1)),to(rgba(116,67,255,1)));
	background: -o-linear-gradient(left, rgba(147,238,249,1) 1%,rgba(116,67,255,1) 100%);
	background: linear-gradient(to right, rgba(147,238,249,1) 1%,rgba(116,67,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93eef9', endColorstr='#7443ff',GradientType=1 );
}
.soc-seti ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.soc-seti ul li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 100px;
	border-right: 1px solid #ccc;
	text-align: center;
	min-width:16.6666666667%;
}
.soc-seti ul li:last-child{
	border-right: none;
}
.soc-seti ul li a{
	color: #fff;
}
.text-on-hover{
	opacity: 0;
	color: #fff;
	font-size: 10px;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.soc-seti ul li:hover .text-on-hover{
	opacity: 1;
}

/**************footer**************/
.wrap-footer{
	width: 80%;
	margin: 0 auto;
	border-bottom: 5px solid #2a2d2e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer-item{
	padding: 50px 0;
	width: 50%;
}
.logo-ft{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 1.6em;
	margin-bottom: 30px;
}
.logo-ft img{
	margin-right: 10px;
}
.copyright{
	color: #72787a;
	font-size: 10px;
}
.footer-item:last-child{
	padding-left: 100px;
}
.footer-item h6{
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 30px;
}
.footer-item .input-form input{
	border: none;
	background-color: transparent;
}
.footer-item .input-form{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #666;
	padding: 15px 0
}
.footer-item .input-form input[type='email']{
	width: 70%;
}
.footer-item .input-form input[type='submit']{
	padding-left: 50px;
	cursor: pointer;
}
/***************media screen****************/
@media screen and (max-width:1250px){
	.box .picture:before, .box2 .picture:before{
			top: 70px;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 240px -280px;
		    -ms-transform-origin: 240px -280px;
		        transform-origin: 240px -280px;
	}
}

@media screen and (max-width:1190px){
	.intro-item1, .intro-item3{
		width: 45%;
	}
	.intro-item_title{
		font-size: 2.66em;
	}
	.box .picture:before{
			top: 50px;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 230px -260px;
		    -ms-transform-origin: 230px -260px;
		        transform-origin: 230px -260px;
	}
}
@media screen and (max-width:1140px){
	.box .vertical-text{
		-webkit-transform-origin: 200px -200px 0;
		    -ms-transform-origin: 200px -200px 0;
		        transform-origin: 200px -200px 0;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 220px -240px;
		    -ms-transform-origin: 220px -240px;
		        transform-origin: 220px -240px;
		width: 350px;
	}
}
@media screen and (max-width:1090px){
	.intro-item_title{
		font-size: 2.6em;
	}
	.intro-item1, .intro-item3{
		width: 49%;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 205px -220px;
		    -ms-transform-origin: 205px -220px;
		        transform-origin: 205px -220px;
	}
}
@media screen and (max-width:1060px){
	.slogan h1{
		font-size: 6em;
	}
	.intro-item_title{
		font-size: 2.5em;
	}
	.intro-item1, .intro-item3{
		width: 52%;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 200px -210px;
		    -ms-transform-origin: 200px -210px;
		        transform-origin: 200px -210px;
	}
}
@media screen and (max-width:1030px){
	.box2 .vertical-text{
		-webkit-transform-origin: 195px -200px;
		    -ms-transform-origin: 195px -200px;
		        transform-origin: 195px -200px;
	}
}
@media screen and (max-width:993px){
	.intro-item_title{
		font-size: 2em;
	}
	.intro-item_subtitle{
		font-size: 1.1em;
	}
	.intro-item1, .intro-item3{
		width: 55%;
	}
	.box .vertical-text{
		-webkit-transform-origin: 150px -150px 0;
		    -ms-transform-origin: 150px -150px 0;
		        transform-origin: 150px -150px 0;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 190px -190px;
		    -ms-transform-origin: 190px -190px;
		        transform-origin: 190px -190px;
		width: 300px;
	}
}
@media screen and (max-width:940px){
	.box .picture:after, .box2 .picture:after{
			bottom: 57px;
	}
	.vertical-text h3{
		font-size: 3em;
	}
	.logo-vert{
		background-image: url(../images/Cesis-Creative-Logo.png);
		background-repeat: no-repeat;
		width: 78px;
		height: 48px;
	}
	.box .vertical-text{
		width: 300px;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 180px -180px;
		    -ms-transform-origin: 180px -180px;
		        transform-origin: 180px -180px;
	}
	.cont-cont{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: left;
	}
	.cont-items{
		min-width: 200px;
		margin-right: 0;
		padding: 0 20px;
	}
}
@media screen and (max-width:870px){
	.intro-item1, .intro-item3{
		width: 65%;
		padding: 0 40px;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 170px -160px;
		    -ms-transform-origin: 170px -160px;
		        transform-origin: 170px -160px;
		width: 270px;
	}
}
@media screen and (max-width:820px){
	.box2 .vertical-text{
		-webkit-transform-origin: 155px -160px;
		    -ms-transform-origin: 155px -160px;
		        transform-origin: 155px -160px;
	}
	.wrap-cont{
		width: 80%;
	}
	.footer-item:last-child{
		padding-left: 70px;
	}
}

@media screen and (max-width:775px){
	.slogan p{
		font-size: 1em;
	}
	.box, .box2{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.intro-item1, .intro-item3{
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		width: 100%;
		margin-bottom: 30px;
	}
	.box .picture:after{
			bottom: 86px;
	}
	.box2 .picture:after{
			bottom: 70px;
	}
	.vertical-text h3{
		font-size: 3.6em;
	}
	.logo-vert{
		background-image: url(../images/Logo_150.png);
		width: 150px;
		height: 92px;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 220px -250px;
		    -ms-transform-origin: 220px -250px;
		        transform-origin: 220px -250px;
		width: 370px;
	}
}
@media screen and (max-width:730px){
	.box2 .vertical-text{
		-webkit-transform-origin: 200px -240px;
		    -ms-transform-origin: 200px -240px;
		        transform-origin: 200px -240px;
		width: 330px;
	}
	.pricing-content{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.content-item{
		margin-bottom: 30px;
	}
	.wrap-serv{
		width: 80%;
	}
	.cont-text{
		margin-bottom: 30px;
		padding-right: 0;
	}
	.cont-text, .cont-form{
		width: 100%;
	}
	.footer-item:last-child{
		padding-left: 40px;
	}
}
@media screen and (max-width:685px){
	.box2 .vertical-text{
		-webkit-transform-origin: 180px -220px;
		    -ms-transform-origin: 180px -220px;
		        transform-origin: 180px -220px;
		width: 300px;
	}
	.grid1{
		-ms-grid-columns: auto;
		    grid-template-columns: auto;
		grid-row: auto auto auto;
	}
	.grid3{
		-ms-grid-columns: auto;
		    grid-template-columns: auto;
		grid-row: auto auto;
	}
	.port-item1{
		-ms-grid-row: 1;
		    grid-row-start: 1;
		-ms-grid-row-span: 1;
		grid-row-end: 2;
	}
	.port-item2{
		-ms-grid-row: 2;
		    grid-row-start: 2;
		-ms-grid-row-span: 1;
		grid-row-end: 3;
	}
	.port-item3{
		-ms-grid-row: 3;
		    grid-row-start: 3;
		-ms-grid-row-span: 1;
		grid-row-end: 4;
	}
	 .grid2{
		-ms-grid-columns: auto auto;
		    grid-template-columns: auto auto;
		-ms-grid-rows: auto auto auto auto;
		    grid-template-rows: auto auto auto auto;
	}
	.port-item4{
		-ms-grid-row: 2;
		    grid-row-start: 2;
		-ms-grid-row-span: 2;
		grid-row-end: 4;
	}
	.port-item5{
		-ms-grid-row: 1;
		    grid-row-start: 1;
		-ms-grid-row-span: 1;
		grid-row-end: 2;
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3
	}
	.port-item6{
		-ms-grid-row: 2;
		    grid-row-start: 2;
		-ms-grid-row-span: 1;
		grid-row-end: 3;
	}
	.port-item7{
		-ms-grid-row: 3;
		    grid-row-start: 3;
		-ms-grid-row-span: 1;
		grid-row-end: 4;
	}
}
@media screen and (max-width:635px){
	.navbar{
		padding :50px 0 0 0;
	}
	.slogan h1{
		font-size: 7em;
	}
	.slogan p{
		font-size: 2em;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 170px -200px;
		    -ms-transform-origin: 170px -200px;
		        transform-origin: 170px -200px;
	}
	.wrap-serv{
		width: 85%;
	}
}
@media screen and (max-width:600px){
	.box .picture:after, .box2 .picture:after{
			bottom: 57px;
	}
	.vertical-text h3{
		font-size: 3em;
	}
	.logo-vert{
		background-image: url(../images/Cesis-Creative-Logo.png);
		background-repeat: no-repeat;
		width: 78px;
		height: 48px;
	}
	.box .vertical-text{
		-webkit-transform-origin: 130px -130px 0;
		    -ms-transform-origin: 130px -130px 0;
		        transform-origin: 130px -130px 0;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 165px -190px;
		    -ms-transform-origin: 165px -190px;
		        transform-origin: 165px -190px;
	}
	.footer-item{
		width: 100%;
	}
	.footer-item:last-child{
		padding-left: 0;
		padding-top: 0;
	}
}

@media screen and (max-width:550px){
	.slogan h1{
		font-size: 6em;
	}
	.slogan p{
		font-size: 1.8em;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 160px -180px;
		    -ms-transform-origin: 160px -180px;
		        transform-origin: 160px -180px;
		width: 250px;
	}
}
@media screen and (max-width:520px){
	.box2 .vertical-text{
		-webkit-transform-origin: 150px -170px;
		    -ms-transform-origin: 150px -170px;
		        transform-origin: 150px -170px;
	}
}
@media screen and (max-width:480px){
	.slogan h1{
		font-size: 5em;
	}
	.slogan p{
		font-size: 1.6em;
	}
	.box .picture:after{
			bottom: 50px;
	}
	.vertical-text h3{
		font-size: 2.6em;
	}
	.box .vertical-text{
		-webkit-transform-origin: 100px -100px 0;
		    -ms-transform-origin: 100px -100px 0;
		        transform-origin: 100px -100px 0;
	}
	.box2 .vertical-text{
		-webkit-transform-origin: 140px -160px;
		    -ms-transform-origin: 140px -160px;
		        transform-origin: 140px -160px;
		width: 200px;
	}
}
